<?xml version="1.0"?>
<!--
/**
 * Copyright © Eriocnemis, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <eriocnemis_sales_autocancel>
                <enabled>1</enabled>
                <age>30</age>
                <statuses>new,pending_payment</statuses>
            </eriocnemis_sales_autocancel>
        </sales>
    </default>
</config>
